NEXT_PUBLIC_DATA_SOURCE=mock
NEXT_PUBLIC_CATALOG_DATA_SOURCE=mock
NEXT_PUBLIC_RESERVATION_DATA_SOURCE=mock
NEXT_PUBLIC_FIELD_DATA_SOURCE=mock
NEXT_PUBLIC_REPORT_DATA_SOURCE=mock
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=product-images
NEXT_PUBLIC_MESSENGER_TARGET_URL=https://www.facebook.com/share/1DexeQNLmq/
SUPABASE_SERVICE_ROLE_KEY=
ALLOW_INSECURE_ROLE_HEADER=false
